<div class="row">
    <div class=" col-sm-2 ">
        <select class="inventory-dropdown-toggle actions .vs__clear actions:after">
            <option>Make</option>
                <option>Audi(14)</option> 
                <option>Bentley(5)</option> 
                <option>BMW(13)</option> 
                <option>Cadillac(13)</option> 
                <option>Chevrolet(7)</option> 
                <option>Ferrari</option> 
                <option>Ford</option> 
                <option>Mercedes-Benz</option> 
                <option>Porssche</option> 
                <option>Harley-Davidson</option> 
                <option>Yamaha</option> 
                <option>honda</option> 
             
             </select>

    </div>
    <div class="col-sm-2">
        <select class="inventory-dropdown-toggle actions .vs__clear actions:after">
            <option>Model</option>
            <option>A8</option>
            <option>AMG GT</option>
            <option>ATS</option>
            <option>Camaro</option>
            <option>Cayenne</option>
            <option>Continental</option>
            <option>Corvette</option>
            <option>CT6</option>
            <option>CTS</option>
            <option>4-Serie</option>
            <option>488 Spider</option>
            <option>6-Serie</option>
            <option>718 Cayman</option>
            <option>8-Serire</option>
            <option>A4</option>
            <option>A7</option>
            <option>E-class</option>
            <option>e-tron</option>
            <option>Edge</option>
            <option>EQC</option>
        
        </select>

    </div>
    <div class=" col-sm-2 ">
        <select class="inventory-dropdown-toggle actions .vs__clear actions:after">
               <option>Convertibie</option>
    <option>Coupe</option>
    <option>Hatchback</option>
    <option>Sedan</option>
    <option>SUV</option>
    <option>Wagon</option>
    </select>

    </div>
    <div class="col-sm-2"><input type="text" placeholder="Min Price" class="" style="
        height: 49px;
        width: 159px;
    "><input type="text" placeholder="max Price" class="" style="
        height: 49px;
        width: 159px;
    "></div>
    <div class=" col-sm-2 ">

        <select class="inventory-dropdown-toggle actions .vs__clear actions:after">
    <option>Mileage</option>
    <option><10,000mailes</option>
    <option><50,000mailes</option>
    <option><100,000mailes</option>
    <option><150,000mailes</option>
    <option>200,000mailes+</option>

</select>
        <div class=" col-sm-2 ">

            <select class="inventory-dropdown-toggle actions .vs__clear actions:after">
    <option>Mileage</option>
    <option><10,000mailes</option>
    <option><50,000mailes</option>
    <option><100,000mailes</option>
    <option><150,000mailes</option>
    <option>200,000mailes+</option>

</select>

        </div>
        <div class=" col-sm-2 ">

            <select class="inventory-dropdown-toggle actions .vs__clear actions:after">
    <option>Mileage</option>
    <option><10,000mailes</option>
    <option><50,000mailes</option>
    <option><100,000mailes</option>
    <option><150,000mailes</option>
    <option>200,000mailes+</option>

</select>

        </div>
        <div class=" col-sm-2 ">

            <select class="inventory-dropdown-toggle actions .vs__clear actions:after">
    <option>Mileage</option>
    <option><10,000mailes</option>
    <option><50,000mailes</option>
    <option><100,000mailes</option>
    <option><150,000mailes</option>
    <option>200,000mailes+</option>

</select>

        </div>
        <div class=" col-sm-2 ">

            <select class="inventory-dropdown-toggle actions .vs__clear actions:after">
    <option>Mileage</option>
    <option><10,000mailes</option>
    <option><50,000mailes</option>
    <option><100,000mailes</option>
    <option><150,000mailes</option>
    <option>200,000mailes+</option>

</select>

        </div>
        <div class=" col-sm-2 ">

            <select class="inventory-dropdown-toggle actions .vs__clear actions:after">
    <option>Mileage</option>
    <option><10,000mailes</option>
    <option><50,000mailes</option>
    <option><100,000mailes</option>
    <option><150,000mailes</option>
    <option>200,000mailes+</option>

</select>

        </div>
        <div class="vehica-inventory-v1__middle">
            <div>
                <!---->
                <div class="vehica-inventory-v1__title">
                    <!---->
                    108 Results
                </div>
            </div>
            <div class="vehica-inventory-v1__sort">
                <div class="vehica-inventory-v1__view"><button>
 <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
     <g transform="translate(-819 -493)">
    <rect data-name="Rectangle 5" width="9" height="8" rx="3" transform="translate(819 493)" fill="#888e95">

     </rect>
      <rect data-name="Rectangle 6" width="9" height="8" rx="3" transform="translate(830 493)" fill="#888e95">

     </rect>
      <rect data-name="Rectangle 7" width="9" height="8" rx="3" transform="translate(830 505)" fill="#888e95">

     </rect> 
     <rect data-name="Rectangle 8" width="9" height="8" rx="3" transform="translate(819 505)" fill="#888e95">

     </rect>
    </g>
</svg></button> <button class="vehica-inventory-v1__view__button-active">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" viewBox="0 0 25 20">
        <g id="lista" transform="translate(-830 -493)">
    <rect data-name="Rectangle 6" width="25" height="8" rx="3" transform="translate(830 493)" fill="#888e95">

      </rect> 
    <rect data-name="Rectangle 7" width="25" height="8" rx="3" transform="translate(830 505)" fill="#888e95">

            </rect>
        </g>
    </svg>
</button>
                </div>
                <div class="vehica-inventory-v1__sort__heading">
                    Sort by:
                </div>
                <div class="vehica-inventory-v1__sort__select">
                    <!---->
                    <div dir="auto" class="v-select vs--single vs--unsearchable">
                        <div id="vs12__combobox" role="combobox" aria-expanded="false" aria-owns="vs12__listbox" aria-label="Search for option" class="vs__dropdown-toggle">
                            <div class="vs__selected-options">
                                <span class="vs__selected">
                Date Listed: Newest
               <!----></span>
                                <input readonly="readonly" aria-autocomplete="list" aria-labelledby="vs12__combobox" aria-controls="vs12__listbox" type="search" autocomplete="off" class="vs__search">
                            </div>
                            <div class="vs__actions">
                                <button type="button" title="Clear Selected" aria-label="Clear Selected" class="vs__clear" style="display: none;">
       <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10">
        <path d="M6.895455 5l2.842897-2.842898c.348864-.348863.348864-.914488 0-1.263636L9.106534.261648c-.348864-.348864-.914489-.348864-1.263636 0L5 3.104545 2.157102.261648c-.348863-.348864-.914488-.348864-1.263636 0L.261648.893466c-.348864.348864-.348864.914489 0 1.263636L3.104545 5 .261648 7.842898c-.348864.348863-.348864.914488 0 1.263636l.631818.631818c.348864.348864.914773.348864 1.263636 0L5 6.895455l2.842898 2.842897c.348863.348864.914772.348864 1.263636 0l.631818-.631818c.348864-.348864.348864-.914489 0-1.263636L6.895455 5z"
        ></path>
    </svg>
</button>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" role="presentation" class="vs__open-indicator">
            <path d="M9.211364 7.59931l4.48338-4.867229c.407008-.441854.407008-1.158247 0-1.60046l-.73712-.80023c-.407008-.441854-1.066904-.441854-1.474243 0L7 5.198617 2.51662.33139c-.407008-.441853-1.066904-.441853-1.474243 0l-.737121.80023c-.407008.441854-.407008 1.158248 0 1.600461l4.48338 4.867228L7 10l2.211364-2.40069z">

            </path>
        </svg>
                                <div class="vs__spinner" style="display: none;">Loading...
                                </div>
                            </div>
                        </div>
                        <ul id="vs12__listbox" role="listbox" style="display: none; visibility: hidden;">
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div>
    <div class="vehica-inventory-v1__2-cols">
        <div class="vehica-inventory-v1__2-cols__left">
            <div class="vehica-inventory-v1__row-grid">
                <div *ngFor="let onecar of carData">


                    <div id="vehica-car-9650" class="vehica-car-card-row-wrapper">
                        <div class="vehica-car-card-row">
                            <a href="https://demo.vehicatheme.com/listing/bmw-8-serie-new-2-door-coupe-grey/" class="vehica-car-card-link"></a>
                            <div class="vehica-car-card-row__inner">
                                <div class="vehica-car-card-row__image">
                                    <div class="vehica-car-card__featured">
                                        <div class="vehica-car-card__featured__inner">
                                            Featured </div>
                                    </div>
                                    <div class="vehica-car-card__image-bg">
                                        <div class="vehica-car-card__image" style="padding-top: 55.5224%;"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://demo.vehicatheme.com/wp-content/uploads/2020/08/6-335x186.jpg 335w, https://demo.vehicatheme.com/wp-content/uploads/2020/08/6-167x93.jpg 167w, https://demo.vehicatheme.com/wp-content/uploads/2020/08/6-670x372.jpg 670w"
                                                data-sizes="auto" alt="BMW 8-serie 2-door coupe grey" class="lazyautosizes ls-is-cached lazyloaded" sizes="248px" srcset="https://demo.vehicatheme.com/wp-content/uploads/2020/08/6-335x186.jpg 335w, https://demo.vehicatheme.com/wp-content/uploads/2020/08/6-167x93.jpg 167w, https://demo.vehicatheme.com/wp-content/uploads/2020/08/6-670x372.jpg 670w">
                                            <div class="vehica-car-card__image-info"><span class="vehica-car-card__image-info__photos"><i class="far fa-images"></i> <span>7</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <!---->
                                </div>
                                <div class="vehica-car-row__content"><span title="BMW 8-serie 2-door coupe grey" class="vehica-car-card-row__name">
    {{onecar.carName}} </span>
                                    <div class="vehica-car-card__price-mobile">
                                        {{onecar.price}} </div>
                                    <div class="vehica-car-card-row__secondary-attributes"><span class="vehica-car-card-row__secondary-attribute"><span class="vehica-car-card-row__secondary-attribute__value"><span>Keyless start</span> <span class="vehica-car-card-row__secondary-attribute__comma">,</span></span>
                                        </span>
                                        <span class="vehica-car-card-row__secondary-attribute"><span class="vehica-car-card-row__secondary-attribute__value"><span>Leather seats</span> <span class="vehica-car-card-row__secondary-attribute__comma">,</span></span>
                                        </span>
                                        <span class="vehica-car-card-row__secondary-attribute"><span class="vehica-car-card-row__secondary-attribute__value"><span>Navigation System</span> <span class="vehica-car-card-row__secondary-attribute__comma">,</span></span>
                                        </span>
                                        <span class="vehica-car-card-row__secondary-attribute"><span class="vehica-car-card-row__secondary-attribute__value"><span>Reversing camera</span> <span class="vehica-car-card-row__secondary-attribute__comma">,</span></span>
                                        </span>
                                        <span class="vehica-car-card-row__secondary-attribute"><span class="vehica-car-card-row__secondary-attribute__value"><span>Side airbags</span> <span class="vehica-car-card-row__secondary-attribute__comma">,</span></span>
                                        </span>
                                        <span class="vehica-car-card-row__secondary-attribute"><span class="vehica-car-card-row__secondary-attribute__value"><span>Traction Control</span> <span class="vehica-car-card-row__secondary-attribute__comma">,</span></span>
                                        </span>
                                    </div>
                                    <div class="vehica-car-card__info">
                                        <div class="vehica-car-card__info__single"><i class="fas fa-circle"></i> <span>2021</span></div>
                                        <div class="vehica-car-card__info__single"><i class="fas fa-circle"></i> <span>Automatic</span></div>
                                        <div class="vehica-car-card__info__single"><i class="fas fa-circle"></i> <span>Petrol</span></div>
                                        <div class="vehica-car-card__info__single"><i class="fas fa-circle"></i> <span>Front Wheel Drive</span></div>
                                    </div>
                                    <div class="vehica-car-card-row__info-more"><span class="vehica-car-card-row__info-more__label">
    Location: </span> <span class="vehica-car-card-row__info-more__value">
    {{onecar.location}}</span></div>
                                </div>
                                <div class="vehica-car-card-row__right">
                                    <div>
                                        <div class="vehica-car-card-row__favorite"><i class="far fa-star"></i></div>
                                        <!---->
                                    </div>
                                    <div class="vehica-car-card-row__price-desktop">
                                        $62,000 </div>
                                    <div class="vehica-car-card-row__calculate"><a href="https://demo.vehicatheme.com/loan-calculator/?id=9650" title="" target="_blank"><span>Calculate financing</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="vehica-inventory-v1__2-cols__right">
            <div class="vehica-inventory-v1__2-cols__right__inner is_stuck" style="position: fixed; top: 112px; width: 226px;"><img src="https://demo.vehicatheme.com/wp-content/uploads/2020/09/mycar-add-sidebar.png" alt="" width="335" height="627" class="alignnone size-full wp-image-15844">
                <div class="clearfix"></div>
            </div>
            <div style="position: static; width: 226px; height: 433px; display: block; vertical-align: baseline; float: none;"></div>
        </div>
    </div>
</div>