<div #screen class="home page-template-default page page-id-13767 wp-custom-logo vehica-animations-active vehica-border_radius--big vehica-version-1.0.37 vehica-menu-sticky elementor-default elementor-kit-16219 elementor-page elementor-page-13767" data-elementor-device-mode="tablet">
    <div data-elementor-type="wp-post" data-elementor-id="13444" class="elementor elementor-13444" data-elementor-settings="[]">
        <div class="elementor-inner">
            <div class="elementor-section-wrap">
                <ng-http-loader></ng-http-loader>

                <app-header></app-header>
                             <section class="elementor-section elementor-top-section elementor-element elementor-element-43ed197e elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="43ed197e" data-element_type="section"
                    data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 100%; left: 0px;">
                    <div class="elementor-container elementor-column-gap-no">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e7c5937" data-id="e7c5937" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-723b5cfd elementor-widget elementor-widget-vehica_template_content" data-id="723b5cfd" data-element_type="widget" data-widget_type="vehica_template_content.default">
                                            <div class="elementor-widget-container">
                                                <div data-elementor-type="wp-post" data-elementor-id="11943" class="elementor elementor-11943" data-elementor-settings="[]">
                                                    <div class="elementor-inner">
                                                        <div class="elementor-section-wrap">
                                                            <section class="elementor-section elementor-top-section elementor-element elementor-element-c67b745 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c67b745" data-element_type="section">
                                                                <div class="elementor-container elementor-column-gap-default">
                                                                    <div class="elementor-row">
                                                                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-920bd21" data-id="920bd21" data-element_type="column">
                                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                                <div class="elementor-widget-wrap">
                                                                                    <div class="elementor-element elementor-element-b25c25c elementor-widget elementor-widget-vehica_breadcrumbs_general_widget" data-id="b25c25c" data-element_type="widget" data-widget_type="vehica_breadcrumbs_general_widget.default">
                                                                                        <div class="elementor-widget-container">
                                                                                            <div>
                                                                                                <div class="vehica-breadcrumbs-wrapper">
                                                                                                    <div class="vehica-breadcrumbs">
                                                                                                        <div class="vehica-breadcrumbs__single">
                                                                                                            <button style="color: #fff;border: 1px solid orangered; background: orangered;" routerLink="/car" title="Homepage" class="vehica-breadcrumbs__link">
                                                                                                                Back
                                                                                                            </button>
                                                                                                            <button style="margin-left:4px;color: #fff;border: 1px solid rgb(172, 180, 255); background: rgb(172, 180, 255);" (click)="capture()">Save as image</button>
                                                                                                        </div>



                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                            <section class="elementor-section elementor-top-section elementor-element elementor-element-85ed0dd elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="85ed0dd" data-element_type="section">
                                                                <div class="elementor-container elementor-column-gap-default">
                                                                    <div class="elementor-row row">
                                                                        <div class="elementor-column col-sm-7 elementor-top-column elementor-element elementor-element-cfb5452" data-id="cfb5452" data-element_type="column">
                                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                                <div class="elementor-widget-wrap">

                                                                                    <div class="elementor-element elementor-element-d5d35c4 elementor-widget-tablet__width-inherit elementor-widget elementor-widget-vehica_gallery_single_car_widget" data-id="d5d35c4" data-element_type="widget" data-widget_type="vehica_gallery_single_car_widget.default">
                                                                                        <div class="elementor-widget-container">
                                                                                            <style>
                                                                                                .vehica-gallery-thumbs .vehica-swiper-slide {
                                                                                                    width: calc(100% / 0 - 17px);
                                                                                                }
                                                                                                
                                                                                                @media (min-width: 900px) {
                                                                                                    .vehica-gallery-thumbs .vehica-swiper-slide {
                                                                                                        width: calc(100% / 3 - 17px);
                                                                                                    }
                                                                                                }
                                                                                                
                                                                                                @media (min-width: 1200px) {
                                                                                                    .vehica-gallery-thumbs .vehica-swiper-slide {
                                                                                                        width: calc(100% / 5 - 17px);
                                                                                                    }
                                                                                                }
                                                                                            </style>
                                                                                            <div>
                                                                                                <div class="vehica-car-gallery vehica-car-gallery__count-7">
                                                                                                    <div class="vehica-gallery-main__wrapper">
                                                                                                        <div class="vehica-car-gallery__arrows">
                                                                                                             <!-- <div class="vehica-carousel__arrow vehica-carousel__arrow--left" (click)="selectBike('prev')"></div> -->
                                                                                                         <!-- <div class="vehica-carousel__arrow vehica-carousel__arrow--right" (click)="selectBike('next')"></div> -->
                                                                                                         <div class="vehica-carousel-v1__arrows">
                                                                                                             <button class="vehica-carousel__arrow vehica-carousel__arrow--left  Fa fa-angle-left‎" (click)="selectBike('prev')" ></button>
                                                                                                             <button class="vehica-carousel__arrow vehica-carousel__arrow--right Fa fa-arrow-right" (click)="selectBike('next')"></button> 
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <img src="{{viewedBike}}" alt="">
                                                                                                    
                                                                                                    </div>
                                                                                                    <div class="vehica-gallery-thumbs__wrapper">
                                                                                                        <div class="vehica-swiper-container vehica-gallery-thumbs vehica-swiper-container-initialized vehica-swiper-container-horizontal">
                                                                                                            <div class="vehica-swiper-wrapper">
                                                                                                                <div data-index="0" (click)="previewCar(carInfo.car.img1)" class="vehica-swiper-slide swiper-slide-active vehica-slide-active" style="width: 134.8px; margin-right: 17px;">
                                                                                                                    <div class="vehica-gallery-thumbs__single">
                                                                                                                        <img src="{{carInfo.car.img1}}" alt="">
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div data-index="1" (click)="previewCar(carInfo.car.img2)" class="vehica-swiper-slide swiper-slide-active vehica-slide-active" style="width: 134.8px; margin-right: 17px;">
                                                                                                                    <div class="vehica-gallery-thumbs__single">
                                                                                                                        <img src="{{carInfo.car.img2}}" alt="">
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div data-index="2" (click)="previewCar(carInfo.car.img3)" class="vehica-swiper-slide swiper-slide-active vehica-slide-active" style="width: 134.8px; margin-right: 17px;">
                                                                                                                    <div class="vehica-gallery-thumbs__single">
                                                                                                                        <img src="{{carInfo.car.img3}}" alt="">
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div data-index="3" (click)="previewCar(carInfo.car.img4)" class="vehica-swiper-slide swiper-slide-active vehica-slide-active" style="width: 134.8px; margin-right: 17px;">
                                                                                                                    <div class="vehica-gallery-thumbs__single">
                                                                                                                        <img src="{{carInfo.car.img4}}" alt="">
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <!-- <div data-index="4"
                                                                                                                class="vehica-swiper-slide"
                                                                                                                style="width: 134.8px; margin-right: 17px;">
                                                                                                                <div
                                                                                                                    class="vehica-gallery-thumbs__single">
                                                                                                                    <img src="{{bikeInfo.bikes.img1}}" alt="">
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div data-index="5"
                                                                                                                class="vehica-swiper-slide"
                                                                                                                style="width: 134.8px; margin-right: 17px;">
                                                                                                                <div
                                                                                                                    class="vehica-gallery-thumbs__single">
                                                                                                                    <img src="{{bikeInfo.bikes.img1}}" alt="">
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div data-index="6"
                                                                                                                class="vehica-swiper-slide"
                                                                                                                style="width: 134.8px; margin-right: 17px;">
                                                                                                                <div
                                                                                                                    class="vehica-gallery-thumbs__single">
                                                                                                                    <img src="{{bikeInfo.bikes.img1}}" alt="">
                                                                                                                </div>
                                                                                                            </div> -->
                                                                                                            </div><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div>

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>





                                                                                    <div class="elementor-element elementor-element-5e29033 elementor-widget elementor-widget-spacer" data-id="5e29033" data-element_type="widget" data-widget_type="spacer.default">
                                                                                        <div class="elementor-widget-container">
                                                                                            <div class="elementor-spacer">
                                                                                                <div class="elementor-spacer-inner">
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>




                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-column col-sm-5 elementor-top-column elementor-element elementor-element-54f21c3 vehica-sticky vehica-sidebar-gap-right " data-id="54f21c3" data-element_type="column">
                                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                                <div class="elementor-widget-wrap">
                                                                                    <div class="vehica-sticky-element is_stuck" style=" top: -441px; width: 487.078px;">
                                                                                        <section class="elementor-section elementor-inner-section elementor-element elementor-element-1df0498 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1df0498" data-element_type="section">
                                                                                            <div class="elementor-container elementor-column-gap-default">
                                                                                                <div class="elementor-row">
                                                                                                    <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-8c61bd1" data-id="8c61bd1" data-element_type="column">
                                                                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                                                                            <div class="elementor-widget-wrap">
                                                                                                                <div class="elementor-element elementor-element-7124659 elementor-widget elementor-widget-vehica_name_single_car_widget" data-id="7124659" data-element_type="widget" data-widget_type="vehica_name_single_car_widget.default">
                                                                                                                    <div class="elementor-widget-container">
                                                                                                                        <h1 class="vehica-car-name">
                                                                                                                            {{carInfo.car.brand}}
                                                                                                                        </h1>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="elementor-element elementor-element-e13e597 elementor-widget elementor-widget-spacer" data-id="e13e597" data-element_type="widget" data-widget_type="spacer.default">
                                                                                                                    <div class="elementor-widget-container">
                                                                                                                        <div class="elementor-spacer">
                                                                                                                            <div class="elementor-spacer-inner">
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>

                                                                                                                <div class="elementor-element elementor-element-0cf5a44 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="0cf5a44" data-element_type="widget" data-widget_type="divider.default">
                                                                                                                    <div class="elementor-widget-container">
                                                                                                                        <div class="elementor-divider">
                                                                                                                            <span class="elementor-divider-separator">
                                                                                                                        </span>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="elementor-element elementor-element-4f3a65d elementor-widget elementor-widget-spacer" data-id="4f3a65d" data-element_type="widget" data-widget_type="spacer.default">
                                                                                                                    <div class="elementor-widget-container">
                                                                                                                        <div class="elementor-spacer">
                                                                                                                            <div class="elementor-spacer-inner">
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </section>
                                                                                        <div class="elementor-element elementor-element-a507d29 elementor-widget__width-auto elementor-widget elementor-widget-vehica_price_single_car_widget" data-id="a507d29" data-element_type="widget" data-widget_type="vehica_price_single_car_widget.default">
                                                                                            <div class="elementor-widget-container">
                                                                                                <div class="vehica-car-price">
                                                                                                    ₹ {{carInfo.car.price}}
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="elementor-element elementor-element-4c2e0de  elementor-widget elementor-widget-spacer" data-id="4c2e0de" data-element_type="widget" data-widget_type="spacer.default">
                                                                                            <div class="elementor-widget-container">
                                                                                                <div class="elementor-spacer">
                                                                                                    <div class="elementor-spacer-inner">
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <section class="elementor-section elementor-inner-section elementor-element elementor-element-0f8a261  elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0f8a261" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                                                            <div class="elementor-container elementor-column-gap-default">
                                                                                                <div class="elementor-row">
                                                                                                    <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-7540650" data-id="7540650" data-element_type="column">
                                                                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                                                                            <div class="elementor-widget-wrap">
                                                                                                                <div class="elementor-element elementor-element-98a431c elementor-widget elementor-widget-vehica_attributes_single_car_widget" data-id="98a431c" data-element_type="widget" data-widget_type="vehica_attributes_single_car_widget.default">
                                                                                                                    <div class="elementor-widget-container">
                                                                                                                        <div class="vehica-car-attributes">
                                                                                                                            <div class="vehica-car-attributes-grid vehica-grid">

                                                                                                                                <div class="vehica-grid__element vehica-grid__element--1of1 vehica-grid__element--tablet-1of2 vehica-grid__element--mobile-1of1">
                                                                                                                                    <div class="vehica-grid">
                                                                                                                                        <div class="vehica-car-attributes__name vehica-grid__element--1of2">
                                                                                                                                            Model:
                                                                                                                                        </div>
                                                                                                                                        <div class="vehica-car-attributes__values vehica-grid__element--1of2">
                                                                                                                                            {{carInfo.car.model}}
                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                                </div>

                                                                                                                                <div class="vehica-grid__element vehica-grid__element--1of1 vehica-grid__element--tablet-1of2 vehica-grid__element--mobile-1of1">
                                                                                                                                    <div class="vehica-grid">
                                                                                                                                        <div class="vehica-car-attributes__name vehica-grid__element--1of2">
                                                                                                                                         Making Year:
                                                                                                                                        </div>
                                                                                                                                        <div class="vehica-car-attributes__values vehica-grid__element--1of2">
                                                                                                                                            {{carInfo.car.makingYear}}
                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                                <div class="vehica-grid__element vehica-grid__element--1of1 vehica-grid__element--tablet-1of2 vehica-grid__element--mobile-1of1">
                                                                                                                                    <div class="vehica-grid">
                                                                                                                                        <div class="vehica-car-attributes__name vehica-grid__element--1of2">
                                                                                                                                            Vehicle Number:
                                                                                                                                        </div>
                                                                                                                                        <div class="vehica-car-attributes__values vehica-grid__element--1of2">
                                                                                                                                            {{carInfo.car.vehicleNumber}}
                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                                </div>

                                                                                                                                <div class="vehica-grid__element vehica-grid__element--1of1 vehica-grid__element--tablet-1of2 vehica-grid__element--mobile-1of1">
                                                                                                                                    <div class="vehica-grid">
                                                                                                                                        <div class="vehica-car-attributes__name vehica-grid__element--1of2">
                                                                                                                                            Kilo Meter:
                                                                                                                                        </div>
                                                                                                                                        <div class="vehica-car-attributes__values vehica-grid__element--1of2">
                                                                                                                                            {{carInfo.car.kilometer}}
                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                                    <div class="vehica-grid__element vehica-grid__element--1of1 vehica-grid__element--tablet-1of2 vehica-grid__element--mobile-1of1">
                                                                                                                                        <div class="vehica-grid">
                                                                                                                                            <div class="vehica-car-attributes__name vehica-grid__element--1of2">
                                                                                                                                                Insurance:
                                                                                                                                            </div>
                                                                                                                                            <div class="vehica-car-attributes__values vehica-grid__element--1of2">
                                                                                                                                                {{carInfo.car.insurance.slice(0,10)}}
                                                                                                                                            </div>
                                                                                                                                        </div>
                                                                                                                                        <div class="vehica-grid__element vehica-grid__element--1of1 vehica-grid__element--tablet-1of2 vehica-grid__element--mobile-1of1">
                                                                                                                                            <div class="vehica-grid">
                                                                                                                                                <div class="vehica-car-attributes__name vehica-grid__element--1of2">
                                                                                                                                                    Fuel Type:
                                                                                                                                                </div>
                                                                                                                                                <div class="vehica-car-attributes__values vehica-grid__element--1of2">
                                                                                                                                                    {{carInfo.car.fuelType}}
                                                                                                                                                </div>
                                                                                                                                            </div>
                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                                </div>

                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </section>
                                                                                        <section class="elementor-section elementor-inner-section elementor-element elementor-element-a60f194 vehica-single-bg-tablet  elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="a60f194" data-element_type="section"
                                                                                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                                                            <div class="elementor-container elementor-column-gap-default">
                                                                                                <div class="elementor-row">
                                                                                                    <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-01ceb84" data-id="01ceb84" data-element_type="column">
                                                                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                                                                            <div class="elementor-widget-wrap">
                                                                                                                <div class="elementor-element elementor-element-25a4c91 elementor-widget-tablet__width-initial elementor-widget-mobile__width-inherit elementor-widget elementor-widget-vehica_phone_single_car_widget" data-id="25a4c91" data-element_type="widget" data-widget_type="vehica_phone_single_car_widget.default">
                                                                                                                    <div class="elementor-widget-container">
                                                                                                                        <div>
                                                                                                                            <div class="vehica-phone-show-number">
                                                                                                                                <div>
                                                                                                                                    <a href="tel:+919176792777"> <img style="width:20px" src="assets/img/call-icon.png"> 9176792777
                                                                                                                                    </a>

                                                                                                                                    <!---->
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>

                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </section>
                                                                                        <div class="elementor-element elementor-element-5b4984f  elementor-widget elementor-widget-spacer" data-id="5b4984f" data-element_type="widget" data-widget_type="spacer.default">
                                                                                            <div class="elementor-widget-container">
                                                                                                <div class="elementor-spacer">
                                                                                                    <div class="elementor-spacer-inner">
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="elementor-element elementor-element-45d525d  elementor-widget elementor-widget-spacer" data-id="45d525d" data-element_type="widget" data-widget_type="spacer.default">
                                                                                            <div class="elementor-widget-container">
                                                                                                <div class="elementor-spacer">
                                                                                                    <div class="elementor-spacer-inner">
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="elementor-element elementor-element-3c798ea  elementor-widget elementor-widget-vehica_social_share_general_widget" data-id="3c798ea" data-element_type="widget" data-widget_type="vehica_social_share_general_widget.default">
                                                                                            <div class="elementor-widget-container">
                                                                                                <div class="vehica-social-share">
                                                                                                    <!-- <a href="https://www.facebook.com/rapportyk" title="Facebook" target="_blank" class="vehica-social-share__icon vehica-social-share__icon--facebook" data-name="https://www.facebook.com/sharer/sharer.php?u=https://demo.vehicatheme.com/listing/audi-a4-2018-4-door-sedan-blue"
                                                                                                        target="_blank">
                                                                                                        <i class="fab fa-facebook-f"></i> Share </a> -->

                                                                                                    <a href="http://wa.me/9176792777" target="_blank" class="vehica-social-share__icon vehica-social-share__icon--twitter" data-name="https://whatsApp.com/share?url=https://demo.vehicatheme.com/listing/audi-a4-2018-4-door-sedan-blue" target="_blank">
                                                                                                        <i class="fab fa-whatsapp"></i> WhatsApp </a>

                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        
                                                                                        <div class="elementor-element elementor-element-3c798ea  elementor-widget elementor-widget-vehica_social_share_general_widget" data-id="3c798ea" data-element_type="widget" data-widget_type="vehica_social_share_general_widget.default">
                                                                                            <div class="elementor-widget-container">
                                                                                                <div class="vehica-social-share">
                                                                                                    <!-- <a href="https://www.facebook.com/rapportyk" title="Facebook" target="_blank" class="vehica-social-share__icon vehica-social-share__icon--facebook" data-name="https://www.facebook.com/sharer/sharer.php?u=https://demo.vehicatheme.com/listing/audi-a4-2018-4-door-sedan-blue"
                                                                                                        target="_blank">
                                                                                                        <i class="fab fa-facebook-f"></i> Share </a> -->

                                                       <div class="">
                                                        <!-- <span class="vehica-social-share__icon vehica-social-share__icon--sh" >Share</span> -->
                                                        <!-- <div class="dropdown-content">
                                                          <p style=" background-color: blue; color: #fff;width: 66px; border-radius: 5px;"> <i class="fab fa-facebook-f" ></i> Share</p>
                                                          <p style=" background-color: rgb(0, 255, 64); color: #fff;width: 66px; border-radius: 5px;"> <i class="fab fa-whatsapp" ></i> Share</p>
                                                          <p style=" background-color: rgb(255, 94, 0); color: #fff;width: 66px;border-radius: 5px;"> <i class="fab fa-linkedin " ></i> Share</p>
                                                          <p style=" background-color: rgb(0, 217, 255); color: #fff;width: 66px;border-radius: 5px;"> <i class="fab fa-twitter" ></i> Share</p>

                                                        </div> -->
                                                      </div>

                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="elementor-element elementor-element-1d3405f  elementor-widget elementor-widget-spacer" data-id="1d3405f" data-element_type="widget" data-widget_type="spacer.default">
                                                                                            <div class="elementor-widget-container">
                                                                                                <div class="elementor-spacer">
                                                                                                    <div class="elementor-spacer-inner">
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                          </div>
                                                            </section>



                                                            <section class="elementor-section elementor-top-section elementor-element elementor-element-4c80c73b elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4c80c73b" data-element_type="section"
                                                                data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" style="width: 100%; left: 0px;">
                                                                <div class="elementor-container elementor-column-gap-default">
                                                                    <div class="elementor-row">
                                                                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-49fa5df4" data-id="49fa5df4" data-element_type="column">
                                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                                <div class="elementor-widget-wrap">
                                                                                    <div class="elementor-element elementor-element-5637dec elementor-widget elementor-widget-spacer" data-id="5637dec" data-element_type="widget" data-widget_type="spacer.default">
                                                                                        <div class="elementor-widget-container">
                                                                                            <div class="elementor-spacer">
                                                                                                <div class="elementor-spacer-inner"></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                   
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                    </section>
                                                                    <app-footer></app-footer>