<div class="home page-template-default page page-id-13767 wp-custom-logo vehica-animations-active vehica-border_radius--big vehica-version-1.0.37 vehica-menu-sticky elementor-default elementor-kit-16219 elementor-page elementor-page-13767" data-elementor-device-mode="tablet">
    <div data-elementor-type="wp-post" data-elementor-id="13444" class="elementor elementor-13444" data-elementor-settings="[]">

        <div class="elementor-inner">

            <div class="elementor-section-wrap">
                <app-header></app-header>
                <section id="banner" class="banner">
                    <div class="bg-color">

                        <div class="container" style="max-width: 100%; ">
                            <div class="row">
                                <div class="banner-info">
                                    <div class="banner-logo text-center">
                                        <div class="elementor-widget-container head-logi" style="background-color: cornsilk;">
                                            <h1 class="elementor-heading-title elementor-size-default">Goods At <span class="vehica-text-primary">Right Time</span> </h1>
                                            <img src="assets/img/auto_bg.png" class="img-responsive img-sizes">



                                        </div>

                                        <div class="elementor-element elementor-element-7a8e5202 vehica-hero-v2-title elementor-widget elementor-widget-heading" data-id="7a8e5202" data-element_type="widget" data-widget_type="heading.default">

                                            <div class="container" style="padding-top: 11px;background: cornsilk;max-width: 100%;">
                                                <h2>BENIEFITS FOR CUSTOMER </h2>

                                                <div class="row">
                                                    <div class="banner-info col-sm-6 ">
                                                        <div class="container">
                                                            <div class="row">

                                                                <ul class="ds-btn">
                                                                    <li class="col-sm-6">
                                                                        <a class="btn btn-lg ">
                                                                            <i class="glyphicon glyphicon-link pull-left"></i><span>SATISFILED COST<br><small>Morbi accumsanm velit.<br>Nam nec tellus a odio tincidunt</small></span></a>

                                                                    </li>
                                                                    <li class="col-sm-6">
                                                                        <a class="btn btn-lg ">
                                                                            <i class="glyphicon glyphicon-link pull-left"></i><span>TRUSTABLE<br><small>Morbi accumsanm velit.<br>Nam nec tellus a odio tincidunt</small></span></a>

                                                                    </li>
                                                                    <li class="col-sm-6">
                                                                        <a class="btn btn-lg ">
                                                                            <i class="glyphicon glyphicon-link pull-left"></i><span>SUPPORT 24/7<br><small>Morbi accumsanm velit.<br>Nam nec tellus a odio tincidunt</small></span></a>

                                                                    </li>
                                                                    <li class="col-sm-6">
                                                                        <a class="btn btn-lg ">
                                                                            <i class="glyphicon glyphicon-link pull-left"></i><span>EARN REWARDS<br><small>Morbi accumsanm velit.<br>Nam nec tellus a odio tincidunt</small></span></a>

                                                                    </li>
                                                                    <li class="col-sm-6">
                                                                        <a class="btn btn-lg ">
                                                                            <i class="glyphicon glyphicon-link pull-left"></i><span>ENJOY DISCOUNTS<br><small>Morbi accumsanm velit.<br>Nam nec tellus a odio tincidunt</small></span></a>

                                                                    </li>
                                                                    <li class="col-sm-6">
                                                                        <a class="btn btn-lg ">
                                                                            <i class="glyphicon glyphicon-link pull-left"></i><span>USER FRIENDLY<br><small>Morbi accumsanm velit.<br>Nam nec tellus a odio tincidunt</small></span></a>

                                                                    </li>


                                                                </ul>

                                                            </div>
                                                        </div>

                                                        <!-- <div class="banner-logo text-center">
                                                            <img src="assets/img/logistics.1.jpg" class="img-responsive img-sizes">
                                                        </div> -->
                                                    </div>
                                                    <div class="banner-info col-sm-6">
                                                        <div class="banner-logo text-center">
                                                            <img src="assets/img/logistics.3.png" class="img-responsive img-sizes">


                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <app-footer></app-footer>
            </div>
        </div>
    </div>
</div>