<section class="our-webcoderskull padding-lg">
    <div class="container">
        <div class="row heading heading-icon">
            <img src="assets/img/travel_logo.png">
        </div>
        <ul class="row">
            <li *ngFor="let card of texiCard" class="col-11 col-md-6 col-lg-3">
                <div>
                    <figure style="float: right; margin-left: 15%;"><img src="{{card.img}}" class="img-responsive" alt=""></figure>

                </div>
            </li>


        </ul>
        <div class="contact-no row justify-content-md-center">
            <div class="col-sm-4">
                <a href="tel:+919787430308">
                    <button>Call Now<img  src="assets/img/call-icon.png" style="width: 20px;"> 9787430308 </button>

                </a>

            </div>
        </div>
    </div>
</section>